body {
    color: white;
    background: black;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    line-height: 2;
    /* font-family: 'Times New Roman', Times, serif; */
}




h1{
    font-size: 3rem;
    margin-bottom: 0;
}
h2{
    font-size: 30px;
}

h3{
    color:#3cea69;
    /* font-size: 25px; */
}

h4{
    color: #76ebf7;
    font-size: 25px;
}



pre{
   font-size: 15px;
   color:white; 
}

a{
    font-size: 1rem;
    font-weight: bold;
    margin-right:  1rem;
    color: rgb(0, 4, 255);
}



/* img container */

.img-container img{
    width: 100%;   
}

/* main content  */

.main-content{
    text-align: left;
}

.short-am{
    color:#3cea69;
    margin-top: 0px;
    margin-bottom: 36px;
}

/* my work  */
.my-work p{
    width:20.5rem;
}

.my-work img{
    width:25%;
}

.my-work-head{
    font-size: 19px;
    color:#3cea69;
}
@media (max-width:1080px){
    .main-content{
        /* text-align: center; */
        padding:10%;
    }
    .name-heading {
        padding:15px;
    }

    .my-work{
        margin-top: 3rem;
    }
    .edu,.project,.exp, .skills{
        margin-top:2rem;
    }
    .short-cuts{
        background-color: rgb(233, 221, 55);
        margin: 0 2rem;
        /* padding:0 0.1rem; */
    }
    .quality{
        font-size:23px;
    }
}